<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>手风琴</title>
		
		<script type="text/javascript" src="js/angular.js"></script>
	</head>
	<body>
		<div class="container" ng-app='app1'>
			<div class="col" ng-controller='ctr1'>
				<ul class="lp">
					<li class="item" ng-repeat='item in list'>
						<h2 ng-bind='item' ng-click='show($index)'></h2>
						<ul class='group' ng-show='curIndex==$index'>
							<li class="it">
								你们真好！
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		
		<script>
			var app =angular.module('app1',[]);
			app.controller('ctr1',['$scope',function($scope){
				$scope.list = ['你么','好么','牛逼'];
				$scope.show = function(index){
					$scope.curIndex = index;
					
				}
				
			}]);
		</script>
	</body>
</html>
